{% extends "layout.html" %}
{% block body %}

<h2> Indian Institute of Science Education and Research, Thiruvananthapuram </h2>

<nav role="navigation" class="toc">
	<h3> Contents </h3>
	<ol>
		<li><a href="#overview">Overview</a></li>
		<li><a href="#course-structure">Course Structure</a></li>
		<li><a href="#academic-proximity">Academic Proximity</a></li>
	</ol>
</nav>

<article>

	<h4 id="overview">Overview</h4>
	<p>
		IISER Thiruvananthapuram is one of the two IISERs that were established in 2008, alongside IISER Bhopal. IISER TVM is located near Vithura, 40 kilometres from Thiruvananthapuram city, at the foot of the Ponmudi hills. With rich greenery and a spectacular mountain backdrop, this eco-friendly campus spanning across 200 acres enjoys a tranquil environment, ideal for the conduction of research and learning.
	</p>
	<p>
		IISER TVM is about 50 km from the airport. A taxi will cost around Rs. 1800/- from Airport to IISER TVM permanent campus. The campus is about 40 km from Thiruvananthapuram Central railway Station/KSRTC (Kerala State Road Transport Corporation) central bus station at Thampanoor [situated opposite to Thiruvananthapuram Central Railway Station]; bus fare from KSRTC Thampanoor to Vithura (and vice versa) is about Rs. 60/-.
	</p>
	<p>
		IISER TVM offers courses in the following:

		1. The standard <strong>BS-MS</strong> in any one of the following fields: Physics, Chemistry, Biology, and Mathematics.
		2. <strong>BS-MS</strong> in <em>Integrated and Interdisciplinary Sciences</em> (i<sup>2</sup> Sciences) in any of the following fields:  Biological Sciences, Chemical Sciences, Data Sciences, Earth Environmental and Sustainability Sciences, Mathematical Sciences, Physical Sciences.
	</p>

	<h4 id="course-structure"> Course Structure </h4>

	<p>
		There is a five-year structure for the <strong>BS-MS</strong> course which is as follows:
		<ol>
			<li> Year <strong>1</strong> (Semesters <strong>I-II</strong>): Foundational courses - Basic courses in Biology, Chemistry, Physics, and Mathematics, along with courses in computer programming and humanities. The programming and humanities courses continue for the first four semesters (2 years).</li>
			<li> Year <strong>2</strong> (Semester <strong>III</strong>): Pre-majors - Students choose one of the allowed combinations of 3 subjects from Biology, Chemistry, Data Science, Earth Environmental and Sustainability Sciences, Physics, and Mathematics.</li>
			<li> Year <strong>2-4</strong> (Semesters <strong>IV-VIII</strong>): Majors - Advanced courses in one primary discipline (Major subject) along with minors and electives. In Semester 4, students opt for one Major subject in one out of the 10 available streams (4 General BS-MS & 6 i² Sciences).</li>
			<li> Year <strong>5</strong> (Semesters <strong>IX-X</strong>): Masters Thesis - Students do a masters thesis/project under a supervisor. </li>
		</ol>
		Under the policies of NEP 2020, a student can take an exit at the end of an year, with an appropriate degree subject to academic policies of the institute.
	</p>
	
	<h4 id="academic-proximity">Academic Proximity</h4>

	<p>
		IISERTVM has several academic and scientific institutes within the Thiruvananthapuram cluster:

		<ol>
		 	<li>Indian Institute of Space Technology (IIST)</li>
			<li>Vikram Sarabhai Space Centre (VSSC)</li>
			<li>University of Kerala</li>
			<li>Kerala Technological University</li>
			<li>Centre for Mathematical Sciences (Kerala)</li>
			<li>National Centre for Earth Science Studies</li>
			<li>National Institute for Interdisciplinary Science and Technology</li>
		</ol>
	</p>
</article>

{% endblock %}