{% extends "layout.html" %}
{% block body %}


<h1 align="center"> Contribute </h1>
<div class="abstract">
	<p>
		Team Wikistute appreciates meaningful contributions to the project and its contents in any form via <a href="https://github.com/Inter-Institute-Wiki/wikistute">GitHub</a>!
	</p>
	<p>
		Alternately, you can mail us your content writeup at <a href="mailto:interinstitutewiki@gmail.com">interinstitutewiki@gmail.com</a>. The project's maintainers would review your content and then add it to the website with appropriate credits.
	</p>
</div>
	
{% endblock %}
