{% extends "layout.html" %}
{% block body %}

<h1 align="center">List of Documented Institutes </h1>
<ol>
	<li>
		<h3><a href="#">Indian Institutes of Science Education and Research (IISERs)</a></h3>	
		<ul>
			<li><a href="">IISER Pune</a></li>
			<li><a href="">IISER Kolkata</a></li>
			<li><a href="">IISER Mohali</a></li>
			<li><a href="">IISER Bhopal</a></li>
			<li><a href="./iisertvm">IISER Thiruvananthapuram</a></li>
			<li><a href="">IISER Tirupati</a></li>
			<li><a href="">IISER Berhampur</a></li>
		</ul>
	</li>
	<li>
		<h3><a href="#">National Institute of Science Education and Research (NISER)</a></h3>
	</li>
	<li>
		<h3><a href="#">Centre for Excellence in Basic Sciences (UM-DAE CEBS)</a></h3>
	</li>
</ol>
	
{% endblock %}
